/* AddToCart.css */

.add-to-cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .event-details {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .event-image {
    width: 500px;
    height: auto;
    border-radius: 5px;
  }
  
  .confirm-purchase {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-purchase:hover {
    background-color: #45a049;
  }